variables:
  GOPATH: /go
  MYSQL_ROOT_PASSWORD: root
  MYSQL_DATABASE: flare_ftso_indexer_indexer_test
  GOLANG_VERSION: "1.24-trixie@sha256:73860edd0febb45d37a5220ba39a6675d67f72163c79a4cebd9d0e6985609140"
  GOLINT_VERSION: "v2.1.6"

.gocache:
  key: ${CI_COMMIT_REF_SLUG}
  policy: pull-push
  paths:
    - ${GOPATH}/pkg/mod
    - ${GOPATH}/bin

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

default:
  tags:
    - flarenetwork-md

build:
  stage: build
  image: golang:${GOLANG_VERSION}
  needs: []
  cache: !reference [.gocache]
  script:
    - go build ./...

lint:
  stage: test
  needs: []
  image: golangci/golangci-lint:${GOLINT_VERSION}
  cache: !reference [.gocache]
  script:
    - ./gofmt_check.sh
    - golangci-lint run --timeout 5m0s

test:
  stage: test
  image: golang:${GOLANG_VERSION}
  cache: !reference [.gocache]
  needs: []
  variables:
    DB_HOST: mysql
    DB_PORT: 3306
    DB_NAME: ${MYSQL_DATABASE}
    DB_USERNAME: root
    DB_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    MOCK_CHAIN_PORT: 2426
  services:
    - name: mysql:latest
      alias: mysql
  script:
    - sed -i 's/test_host = "localhost"/test_host = "mysql"/' testing/config_test.toml
    - go test ./indexer

build-container:
  stage: build
  needs: []
  image:
    name: registry.gitlab.com/flarenetwork/infra-public/pipeliner/kaniko-executor-stbl:v1.23.2-debug
    entrypoint: [""]
  script:
    - >-
      args="--context ${CI_PROJECT_DIR}/.
        --cache=true
        --registry-mirror mirror.gcr.io
        --destination ${CI_REGISTRY_IMAGE}:$CI_COMMIT_SHA"
    - /kaniko/executor $args
